@import './theme.css';
@import './app-sider-menu.css';
@import './table.css';

.p-component {
  font-size: 0.875rem;
}

.os-host.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: var(--dark-20);
}

.os-host.os-theme-dark > .os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle {
  background: var(--dark-30);
}

.p-paginator .p-paginator-pages .p-link:focus {
  box-shadow: none;
}
.p-button {
  padding: 0.25rem 0.75rem;
}
.p-dropdown-label {
  align-self: center;
}

.app-header {
  & .p-toolbar .p-toolbar-group-right .p-button {
    color: var(--gray-170);
    /* &:focus {
      box-shadow: none;
    } */
    /* &:hover {
      color: var(--gray-160);
    } */
    & .p-button-icon {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
}
.c-icon-button {
  &.p-button.p-button-secondary.p-button-text.p-button-icon-only {
    padding: 0;
    background: none;
    width: auto;
    /* box-shadow: none; */
    color: var(--gray-160);
    &:hover {
      color: var(--gray-140);
    }
  }
}
.zoom-in {
  @apply transition duration-300 ease-in-out transform cursor-pointer;
  &:hover {
    @apply scale-105 shadow-xl;
  }
}
