/* :root {
  --surface-a:#1f2d40;
  --surface-b:#17212f;
  --surface-c:rgba(255, 255, 255, 0.03);
  --surface-d:#304562;
  --surface-e:#1f2d40;
  --surface-f:#1f2d40;
  --text-color:rgba(255, 255, 255, 0.87);
  --text-color-secondary:rgba(255, 255, 255, 0.6);
  --primary-color:#FFD54F;
  --primary-color-text:#212529;
  --font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
} */

:root {
  --dark-10: #232a3b;
  --dark-20: #293145;
  --dark-30: #313a55;
  --dark-40: #1e2533;
  /* --dark-50: #3f4865; */
  --dark-70: #181f29;

  --border-10: #313a55;

  --primary: #ffd54f;
  --primary-hover: color-mod(var(--primary) shade(10%));
  --primary-active: color-mod(var(--primary) shade(20%));
  --primary-focus: color-mod(var(--primary) tint(26%));

  --secondary: #3f4865;
  --secondary-hover: color-mod(var(--secondary) shade(10%));
  --secondary-active: color-mod(var(--secondary) shade(20%));
  --secondary-focus: color-mod(var(--secondary) tint(26%));

  --gray-130: #e2e8f0;
  --gray-150: #a0aec0;
  --gray-160: #718096;
  /* --gray-170: #4a5568; */
  --gray-190: #1a202c;

  --zoom-level: 16px;
}
html {
  font-size: var(--zoom-level);
}
