// my variables
$ep-fonts-path: '../ep-fonts';

$app-background: #181924;
$component-background: #24252f;

$color-primary: #eeb436;

$text-color-primary: #b1b7c1;
$text-color-regular: darken($text-color-primary, 10%);
$text-color-highlight: lightn($text-color-primary, 10%);
$text-color-placeholder: darken($text-color-regular, 10%);

$item-hover-background: lighten($component-background, 5%);


$border-color-base: lighten($component-background, 10%);


// element-plus
$--font-path: $ep-fonts-path;

$--color-primary: $color-primary; // #409EFF !default;


$--color-text-primary: $text-color-primary; // #303133 !default;
$--color-text-regular: $text-color-regular; // #606266 !default;
$--color-white: $component-background;

$--color-text-placeholder: $text-color-placeholder; // #C0C4CC !default;

$--card-border-color: $component-background; // $--border-color-lighter !default;
$--table-row-hover-background-color: $item-hover-background; // $--background-color-base !default;
// $--table-header-background-color: var(--component-body-background);



$--border-color-base: $border-color-base; // #DCDFE6 !default;

$--input-background-color: $app-background; //$--color-white !default;
// $--input-border-color: red; //$border-color-base; // $--border-color-base !default;

@import 'element-plus/packages/theme-chalk/src/index.scss';

.el-table {
  &::before {
    height: 0;
  }

  th.is-leaf,
  td {
    @apply border-b border-solid border-split;
  }
}
