@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-background: #181924;
  --component-background: #2a2b36;
  --text-color: rgba(255, 255, 255, 0.85);

  --border-split: rgba(255, 255, 255, 0.075);
  --component-header-background: #282933;
  --component-body-background: #24252f;
  --component-footer-background: #282933;
}

@layer base {
  * {
    scrollbar-width: thin;
  }
  *::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 14px;
    width: 14px;
    height: 14px;
  }
  *::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 14px;
    border: 4px solid rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 0 var(--component-background) inset;
  }

  .iconfont {
    vertical-align: -0.15em;
    @apply w-4 h-4 overflow-hidden fill-current;
  }
}
